@import "./utils/variables";
@import "./layout/header.scss";
@import "./layout/footer.scss";
@import "./utils/mixins";
@import "./composants/button.scss";
@import "./pages/menuPages.scss";


body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h2{
    font-size: 24px;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

a{
    text-decoration: none;
}

h1{
    margin: 0;
    font-family: 'Shrikhand';
    font-weight: lighter;
}

.reserv{
    text-align: center;
    background-color: $backgroundColor-primary;
    &__place{
        background-color: $backgroundColor-secondary;
        box-shadow: inset 0px 3px 3px $color-shadow-darker;
        &__content{
            padding: 1rem 0rem 1rem 0rem;
            & i{
                margin-right: 1rem;
            }
        }
    }
    &__explore{
        @include pagin();
        padding-bottom: 2rem;
    }
}

.running{
    @include pagin();
    @include desktopOnly{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__heading{
        margin-top: 2rem;
        margin-bottom: 1rem;
        @include desktopOnly {
            width: 100%;
        }
    }
    &__content{
        background-color: $backgroundColor-primary;
        margin-bottom: 1rem;
        padding: 1.5rem 0rem 1.5rem 0rem;
        display: flex;
        justify-content: center;
        border-radius: 15px;
        @include shadow($color-shadow-darker, $boxShadow-size);
        @include desktopOnly{
            width: 30%;
        }
        &__number{
            width: 22px;
            height: 22px;
            border-radius: 30px;
            background-color: $color-primary;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center; 
            position: absolute;
            margin-left: -90%;
            @include desktopOnly {
                margin-left: -27%;
            }
        }
    }
    & i{
        color: grey;
        margin-right: 2rem;
    }
    & p{
        margin: 0;
    }
}

.restaurants{
    background-color: $backgroundColor-primary;
    margin-top: 4rem;
    padding-bottom: 6rem;
    @include tabletOnly {
        display: flex;
        flex-wrap: wrap;
    }
    @include desktopOnly {
        display: flex;
        flex-wrap: wrap;
    }
    & a{
        color: black;
    }
    &__heading{
        @include pagin();
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
    &__art{
        @include pagin();
        background-color: white;
        margin-bottom: 2rem;
        border-radius: 20px;
        @include shadow($color-shadow-darker, $boxShadow-size);
        @include tabletOnly {
            width: 45%;
        }
        @include desktopOnly {
            width: 20%;
        }
        & img{
            width: 100%;
            -o-object-fit: cover;
               object-fit: cover;
            border-radius: 20px 20px 0px 0px;
        }
        &__img{
            display: flex;
            justify-content: flex-end;
            height: 17rem;
            & p{
                background-color: $color-terciary;
                color: green;
                position: absolute;
                padding: 0.5rem 1rem 0.5rem 1rem;
                border-radius: 0.2rem;
                margin-right: 1rem;
            }
        }
        &__content{
            display: flex;
            justify-content: space-between;
            padding: 0rem 0rem 1rem 1rem;
            &__restName h3{
                margin: 1rem 0rem 0.5rem 0rem;
            }
            &__restName p{
                margin: 0;
            }
            &__heart{
                margin: 5% 5% 0 0;
                font-size: 1.5rem;
            }
        }
    }
}