@import "./utils/variables";
@import "./layout/header.scss";
@import "./layout/footer.scss";
@import "./utils/mixins";
@import "./composants/button.scss";
@import "./pages/menuPages.scss";
@import "./base/rules.scss";
@import "./utils/animations";
@import "./composants/loader.scss";
@import "./pages/mainPages.scss";

