@import "./utils/_variables";


.btn{
    @include btn();
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h2{
    font-size: 24px;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

a{
    text-decoration: none;
}

.header__logo{
    display: flex;
    justify-content: center;
    padding: 2rem 0rem 1rem 0rem;
}

.header__return{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.header__return__arrow{
    position: absolute;
    padding: 2.5rem 0rem 1rem 0rem;
    margin-left: -85%;
    & a{
        color: black;
        &:hover{
            background-color: $backgroundColor-primary;
            padding: 0.3rem 0.4rem 0.3rem 0.4rem;
            border: 1px solid $backgroundColor-secondary;
            border-radius: 4px;
        }
    }
}

.reserv{
    text-align: center;
    background-color: $backgroundColor-primary;
    &__place{
        background-color: $backgroundColor-secondary;
        box-shadow: inset 0px 3px 3px $color-shadow-darker;
        &__content{
            padding: 1rem 0rem 1rem 0rem;
            & i{
                margin-right: 1rem;
            }
        }
    }
    &__explore{
        @include pagin();
        padding-bottom: 2rem;
    }
}

.running{
    @include pagin();
    &__heading{
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    &__content{
        background-color: $backgroundColor-primary;
        margin-bottom: 1rem;
        padding: 1.5rem 0rem 1.5rem 0rem;
        display: flex;
        justify-content: center;
        border-radius: 15px;
        @include shadow($color-shadow-darker, $boxShadow-size);
        &__number{
            width: 22px;
            height: 22px;
            border-radius: 30px;
            background-color: $color-primary;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center; 
            position: absolute;
            margin-left: -90%;
        }
    }
    & i{
        color: grey;
        margin-right: 2rem;
    }
    & p{
        margin: 0;
    }
}

.restaurants{
    background-color: $backgroundColor-primary;
    & a{
        color: black;
    }
    &__heading{
        @include pagin();
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
    &__art{
        @include pagin();
        background-color: white;
        margin-bottom: 2rem;
        border-radius: 20px;
        @include shadow($color-shadow-darker, $boxShadow-size);
        & img{
            width: 100%;
            object-fit: cover;
            border-radius: 20px 20px 0px 0px;
        }
        &__img{
            display: flex;
            justify-content: flex-end;
            height: 17rem;
            & p{
                background-color: $color-terciary;
                color: green;
                position: absolute;
                padding: 0.5rem 1rem 0.5rem 1rem;
                border-radius: 0.2rem;
                margin-right: 1rem;
            }
        }
        &__content{
            display: flex;
            justify-content: space-between;
            padding: 0rem 0rem 1rem 1rem;
            &__restName h3{
                margin: 1rem 0rem 0.5rem 0rem;
            }
            &__restName p{
                margin: 0;
            }
            &__heart{
                margin: 5% 5% 0 0;
                font-size: 1.5rem;
            }
        }
    }
}

footer{
    background-color: $color-footer;
}

.footer{
    display: flex;
    flex-direction: column;
    color: white;
    @include pagin();
    padding-bottom: 1.5rem;
    &__heading{
        font-family: 'Shrikhand';
        font-weight: lighter;
    }
    & a{
        margin-bottom: 0.5rem;
        color: white;
        &:hover{
            color: grey;
        }        
    }
}

.fa-hands-helping {
    font-size: 11px;
}



.image{
    position: relative;
    z-index: -1;
    height: 21rem;
    & img{
        width: 100%;
    }
}

h1{
    margin: 0;
    font-family: 'Shrikhand';
    font-weight: lighter;
}

.menu{
    background-color: $backgroundColor-primary;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 100%;
    margin-top: -4rem;
    &__title{
        display: flex;
        justify-content: space-evenly;
        padding-top: 3rem;
        font-size: 20px;
        & i{
            padding-top: 0.5rem;
            font-size: 30px;
        }
    }
}
.content{
    @include pagin();
    &__title{
        display: inline-block;
        & h2{
            font-weight: 400 ;
            font-size: 20px;
            text-transform: uppercase;
            margin: 0;
            padding: 2rem 0rem 0.5rem 0rem;
        }
        &__underline{
            border-bottom: 3px solid $color-terciary;
            width: 3rem;
        }
    }
    &__name{
        @include shadow($color-shadow-darker, $boxShadow-size);
        background-color: white;
        border-radius: 20px;
        & h3{
            margin-bottom: 0px;
            padding: 1rem 0 0 1rem;
        }
        & div{
            display: flex;
            justify-content: space-between;
            padding: 0 1rem 0 1rem;
        }
    }
}

.btnOrder{
    padding: 1rem 3rem 1rem 3rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
    & a{
        color: white;
    }
}

.order{
    display: flex;
    justify-content: space-around;
}

