.btn {
  background: linear-gradient(to bottom right, #ff76da, #9356dc);
  color: white;
  padding: 1rem;
  border: 0;
  border-radius: 25px;
  box-shadow: 0.4rem 0.4rem 0.4rem #c0c0c0;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h2 {
  font-size: 24px;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
}

.header__logo {
  display: flex;
  justify-content: center;
  padding: 2rem 0rem 1rem 0rem;
}

.header__return {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.header__return__arrow {
  position: absolute;
  padding: 2.5rem 0rem 1rem 0rem;
  margin-left: -85%;
}
.header__return__arrow a {
  color: black;
}
.header__return__arrow a:hover {
  background-color: #f6f6f6;
  padding: 0.3rem 0.4rem 0.3rem 0.4rem;
  border: 1px solid #eaeaea;
  border-radius: 4px;
}

.reserv {
  text-align: center;
  background-color: #f6f6f6;
}
.reserv__place {
  background-color: #eaeaea;
  box-shadow: inset 0px 3px 3px #c0c0c0;
}
.reserv__place__content {
  padding: 1rem 0rem 1rem 0rem;
}
.reserv__place__content i {
  margin-right: 1rem;
}
.reserv__explore {
  width: 90%;
  margin: auto;
  padding-bottom: 2rem;
}

.running {
  width: 90%;
  margin: auto;
}
.running__heading {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.running__content {
  background-color: #f6f6f6;
  margin-bottom: 1rem;
  padding: 1.5rem 0rem 1.5rem 0rem;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0.4rem 0.4rem 0.4rem #c0c0c0;
}
.running__content__number {
  width: 22px;
  height: 22px;
  border-radius: 30px;
  background-color: #9356DC;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: -90%;
}
.running i {
  color: grey;
  margin-right: 2rem;
}
.running p {
  margin: 0;
}

.restaurants {
  background-color: #f6f6f6;
}
.restaurants a {
  color: black;
}
.restaurants__heading {
  width: 90%;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.restaurants__art {
  width: 90%;
  margin: auto;
  background-color: white;
  margin-bottom: 2rem;
  border-radius: 20px;
  box-shadow: 0.4rem 0.4rem 0.4rem #c0c0c0;
}
.restaurants__art img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.restaurants__art__img {
  display: flex;
  justify-content: flex-end;
  height: 17rem;
}
.restaurants__art__img p {
  background-color: #99E2D0;
  color: green;
  position: absolute;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.2rem;
  margin-right: 1rem;
}
.restaurants__art__content {
  display: flex;
  justify-content: space-between;
  padding: 0rem 0rem 1rem 1rem;
}
.restaurants__art__content__restName h3 {
  margin: 1rem 0rem 0.5rem 0rem;
}
.restaurants__art__content__restName p {
  margin: 0;
}
.restaurants__art__content__heart {
  margin: 5% 5% 0 0;
  font-size: 1.5rem;
}

footer {
  background-color: #353535;
}

.footer {
  display: flex;
  flex-direction: column;
  color: white;
  width: 90%;
  margin: auto;
  padding-bottom: 1.5rem;
}
.footer__heading {
  font-family: "Shrikhand";
  font-weight: lighter;
}
.footer a {
  margin-bottom: 0.5rem;
  color: white;
}
.footer a:hover {
  color: grey;
}

.fa-hands-helping {
  font-size: 11px;
}

.image {
  width: 100%;
  margin-bottom: 0;
}
.image img {
  width: 100%;
  margin-bottom: 0;
}

h1 {
  margin: 0;
  font-family: "Shrikhand";
  font-weight: lighter;
}

.menu {
  background-color: #f6f6f6;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  width: 100%;
}
.menu__title {
  display: flex;
  justify-content: space-evenly;
  padding-top: 3rem;
  font-size: 20px;
}
.menu__title i {
  padding-top: 0.5rem;
  font-size: 30px;
}

.content {
  width: 90%;
  margin: auto;
}
.content h2 {
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  border-bottom: 2px solid #99E2D0;
}
.content__name {
  box-shadow: 0.4rem 0.4rem 0.4rem #c0c0c0;
  background-color: white;
  border-radius: 20px;
}
.content__name h3 {
  margin-bottom: 0px;
  padding: 1rem 0 0 1rem;
}
.content__name div {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
}

.btnOrder {
  padding: 1rem 3rem 1rem 3rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.btnOrder a {
  color: white;
}

.order {
  display: flex;
  justify-content: space-around;
}

/*# sourceMappingURL=style.css.map */
