@import "../utils/mixins.scss";

.btn{
    @include btn();
    position: relative;
    z-index: 1;
    &:hover{
        @include shadow($color-shadow-darkerMore, $boxShadow-sizeMore);
        &::after{
            opacity: 1;
        }
    }
    &::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 25px;
        background: linear-gradient(to bottom right, lighten($color-secondary, 5), lighten($color-primary, 5));
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }
}