body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h2{
    font-size: 24px;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

a{
    text-decoration: none;
}

h1{
    margin: 0;
    font-family: 'Shrikhand';
    font-weight: lighter;
}
