@import "../utils/variables";
@import "../layout/header.scss";
@import "../layout/footer.scss";
@import "../utils/mixins";
@import "../composants/button.scss";
@import "../utils/animations.scss";

.image{
    position: relative;
    z-index: -1;
    @include desktopOnly{
        height: 40rem;
    }
    & img{
        width: 100%;
    }
}

.menu{
    background-color: $backgroundColor-primary;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 100%;
    margin-top: -4rem;
    
    &__title{
        display: flex;
        justify-content: space-evenly;
        padding-top: 3rem;
        font-size: 20px;
        width: 100%;
        @include desktopOnly{
            margin: 0 0 3rem 0;
        }
        & i{
            padding-top: 0.5rem;
            font-size: 30px;
        }
        &__heart{
            font-size: 30px;
            height: 3rem;
            width: 2rem;
            background-color: transparent;
            border: transparent 0px solid;
            padding: 0;
            cursor: pointer;
            position: relative;
            background-color: black;
            &:hover::before{
                opacity: 1;
            }
            &::before{
                opacity: 0;
                transition: 0.5s;
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background:linear-gradient(0deg, $color-primary 0%,$color-secondary 100%);
            }
            & i{
                transition-duration: .25s;
                background-color: $backgroundColor-primary;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                mix-blend-mode: lighten;
            }
            &:hover{
                .far{
                    opacity: 0;
                }
            }
        }
    }
}
.content{
    @include pagin();
    @include desktopOnly{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__title{
        display: inline-block;
        & h2{
            font-weight: 400 ;
            font-size: 20px;
            text-transform: uppercase;
            margin: 0;
            padding: 2rem 0rem 0.5rem 0rem;
            @include desktopOnly{
                width: 7rem;
                margin-left: -2rem;
                margin-top: 2rem;
            }
        }
        &__underline{
            border-bottom: 3px solid $color-terciary;
            width: 3rem;
            @include desktopOnly{
                margin-left: -2rem;
            }
        }
    }
    &__name{
        @include shadow($color-shadow-darker, $boxShadow-size);
        background-color: white;
        border-radius: 20px;
        @include desktopOnly{
            width: 30%;
            margin-top: 2rem;
        }
        overflow: hidden;
        cursor: pointer;
        animation: itemAppear .6s;
        animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
        animation-fill-mode: both;
        transform: scale(0);
        max-width: 100%;
        & h3{
            margin-bottom: 0px;
            padding: 1rem 0 0 1rem;
            @include desktopOnly{
                margin-top: 0;
            }
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        & div{
            display: flex;
            justify-content: space-between;
            padding: 0 1rem 0 1rem;
            & p:first-child{
                white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            }
            & p:nth-child(2){
                font-weight: bold;
            }
        }
    &__confirmation {
        background-color: $color-terciary;
        margin: -1rem -5rem -1rem 1rem;
        width: 4rem;
        display:flex;
        align-items:center;
        justify-content:center;
        transition-duration: 0.5s;
        &__wrapIcon {
            height: 1.6rem;
            width: 1.6rem;
            background-color: white;
            display:flex;
            align-items:center;
            justify-content:center;
            border-radius: 100px;
            transform: rotate(180deg);
            transition-duration: 0.5s;
       }
    }
    &:hover &__confirmation {
        margin-right: -1rem;
    }
    &:hover &__wrapIcon {
        transform: rotate(0);
    }
    &__icon {
        color: $color-terciary;
    }
    @for $i from 0 to 9 {
            .delay-#{$i} {
                animation-delay:  #{$i/10}s;
            }
        }
    }
}

.btnOrder{
    padding: 1rem 3rem 1rem 3rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
    & a{
        color: white;
    }
}

.order{
    display: flex;
    justify-content: space-around;
}