@import "../utils/variables";
@import "../layout/header.scss";
@import "../layout/footer.scss";
@import "../utils/mixins";
@import "../composants/button.scss";
@import "../utils/animations.scss";

.image{
    position: relative;
    z-index: -1;
    @include desktopOnly{
        height: 35rem;
    }
    & img{
        width: 100%;
        @include desktopOnly{
        height: 45rem;
        -o-object-fit: cover;
            object-fit: cover;
        }
    }
}

.menu{
    background-color: $backgroundColor-primary;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 100%;
    margin-top: -4rem;
    @include desktopOnly{
        width: 80%;
        margin: auto;
    }
    &__title{
        display: flex;
        justify-content: space-evenly;
        padding-top: 3rem;
        font-size: 20px;
        width: 100%;
        @include desktopOnly{
            padding: 3rem 0 3rem 2rem;
            justify-content: space-between;
        }
        & i{
            padding-top: 0.5rem;
            font-size: 30px;
        }
        &__heart{
            font-size: 30px;
            height: 3rem;
            width: 2rem;
            background-color: transparent;
            border: transparent 0px solid;
            padding: 0;
            cursor: pointer;
            position: relative;
            text-align: center;
            background-color: black;
            @include desktopOnly{
                margin-right: 6rem;
            }
            &:hover::before{
                opacity: 1;
            }
            &::before{
                opacity: 0;
                transition: 0.5s;
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background:linear-gradient(0deg, $color-primary 0%,$color-secondary 100%);
            }
            & i{
                transition-duration: .25s;
                background-color: $backgroundColor-primary;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                mix-blend-mode: lighten;
            }
            &:hover{
                .far{
                    opacity: 0;
                }
            }
        }
    }
}

.coco{
    @include desktopOnly{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

.content{
    @include pagin();
    @include desktopOnly{
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        overflow: hidden;
    }
    &__title{
        & h2{
            font-weight: 400 ;
            font-size: 20px;
            text-transform: uppercase;
            margin: 0rem 0rem 0rem 1rem;
            padding: 2rem 0rem 0.5rem 0rem;
            @include desktopOnly{
                width: 7rem;
                margin: 0rem 0rem 0rem 2rem;
            }
        }
        &__underline{
            border-bottom: 3px solid $color-terciary;
            width: 3rem;
            margin: 0 0 0 1rem;
            @include desktopOnly{
                margin: 0rem 0rem 0rem 2rem;
            }
        }
    }
    &__name{
        @include shadow($color-shadow-darker, $boxShadow-size);
        background-color: white;
        border-radius: 20px;
        margin: 1rem 1rem 1rem 1rem;
        display: flex;
        justify-content: space-between;
        @include desktopOnly{
            margin: 2rem 0 0 2rem;
            max-width: 80%;
        }
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        animation: fadein 600ms;
        animation-fill-mode: both;
        &--column{
            display: flex;
            flex-direction: column;
            white-space: nowrap;
            overflow: hidden;
            padding-left: 1rem;
        }
        & h3{
            padding: 1rem 0 0 0;
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        & p{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &--clic{
            display: flex;
            justify-content: space-between;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &:hover + .content__name__side{
                margin-right: 0rem;
                transform: rotate(0);
            }
        }
        &__price{
            font-weight: bold;
            display: flex;
            align-items: flex-end;
            margin: 0 1rem 1rem 0;
        }
        &__side{
            background-color: $color-terciary;
            margin: -1rem -6rem -1rem 1rem;
            width: 6rem;
            display:flex;
            align-items:center;
            justify-content:center;
            transform: rotate(180deg);
            transition-duration: 500ms;
            &__icon{
                height: 1.6rem;
                width: 1.6rem;
                background-color: white;
                display:flex;
                align-items:center;
                justify-content:center;
                border-radius: 100px;
            }
            & .fa-check{
                color: $color-terciary;
            }
        }
    }
}

@for $i from 0 to 9 {
    .delay-#{$i} {
      animation-delay:  #{$i/10}s;
    }
  }

.btnOrder{
    padding: 1rem 3rem 1rem 3rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
    & a{
        color: white;
    }
}

.order{
    display: flex;
    justify-content: space-around;
}