@import "../utils/variables";
@import "../layout/header.scss";
@import "../layout/footer.scss";
@import "../utils/mixins";
@import "../composants/button.scss";
@import "../utils/animations.scss";

.image{
    position: relative;
    z-index: -1;
    @include desktopOnly{
        height: 35rem;
    }
    & img{
        width: 100%;
        @include desktopOnly{
        height: 45rem;
        -o-object-fit: cover;
            object-fit: cover;
        }
    }
}

.menu{
    background-color: $backgroundColor-primary;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 100%;
    margin-top: -4rem;
    @include desktopOnly{
        width: 80%;
        margin: auto;
    }
    &__title{
        display: flex;
        justify-content: space-evenly;
        padding-top: 3rem;
        font-size: 20px;
        width: 100%;
        @include desktopOnly{
            padding: 3rem 0 3rem 2rem;
            justify-content: space-between;
        }
        & i{
            padding-top: 0.5rem;
            font-size: 30px;
        }
        &__heart{
            font-size: 30px;
            height: 3rem;
            width: 2rem;
            background-color: transparent;
            border: transparent 0px solid;
            padding: 0;
            cursor: pointer;
            position: relative;
            text-align: center;
            background-color: black;
            @include desktopOnly{
                margin-right: 6rem;
            }
            &:hover::before{
                opacity: 1;
            }
            &::before{
                opacity: 0;
                transition: 0.5s;
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background:linear-gradient(0deg, $color-primary 0%,$color-secondary 100%);
            }
            & i{
                transition-duration: .25s;
                background-color: $backgroundColor-primary;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                mix-blend-mode: lighten;
            }
            &:hover{
                .far{
                    opacity: 0;
                }
            }
        }
    }
}

.coco{
    @include desktopOnly{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

.content{
    @include pagin();
    @include desktopOnly{
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        overflow: hidden;
        margin: 0;
    }
    &__title{
        & h2{
            font-weight: 400 ;
            font-size: 20px;
            text-transform: uppercase;
            margin: 0rem 0rem 0rem 1rem;
            padding: 2rem 0rem 0.5rem 0rem;
            @include desktopOnly{
                width: 7rem;
                margin: 0rem 0rem 0rem 2rem;
            }
        }
        &__underline{
            border-bottom: 3px solid $color-terciary;
            width: 3rem;
            margin: 0 0 0 1rem;
            @include desktopOnly{
                margin: 0rem 0rem 1rem 2rem;
            }
        }
    }
    &__container {
        background-color: white;
        border-radius: 30px;
        @include shadow($color-shadow-darker, $boxShadow-size);
        margin: 1rem 1.5rem 1rem 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        animation: fadein 600ms;
        animation-fill-mode: both;
        &__row{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &__menu {
            display: flex;
            flex-direction: column;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            & h3{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 1rem 0 1rem 1rem;
            }
            & p {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 0rem 0 1rem 1rem;
            }
        }
        &__price {
            font-weight: bold;
            margin: 3.5rem 2rem 0 0;
        }
        &__check {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 0;
            overflow: hidden;
            background-color: #99E2D0;
            transition: ease-out 0.7s;
            & .fa-check {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                color: #99E2D0;
                height: 1.6rem;
                width: 1.6rem;
                border-radius: 100px;
            }
        }
        &:hover .content__container__check {
            width: 5rem;
            transition: ease-in 400ms;
        }
        &:hover .fa-check {
            animation: rotate 600ms;
        }
    }
}

@for $i from 0 to 11 {
    .delay-#{$i} {
      animation-delay:  #{$i/10}s;
    }
  }

.btnOrder{
    padding: 1rem 3rem 1rem 3rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
    & a{
        color: white;
    }
}

.order{
    display: flex;
    justify-content: space-around;
}