@keyframes loader {
    100% {
      opacity: 0;
      z-index: -10;
    }
  } 
  
  @keyframes jump {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(0.5rem);
    }
    75% {
      transform: translateY(-0.50rem);
    }
    100% {
      transform: translateY(0);
    }
    
  }

  @keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@keyframes rotate {
  0% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}