@import "./variables";

@mixin shadow($colour: $color-shadow, $shadow-size: $boxShadow-size){
    box-shadow: $shadow-size $shadow-size $shadow-size $colour;
}

@mixin btn(){
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    color: white;
    padding: 1rem;
    border: 0;
    border-radius: 25px;
    @include shadow($color-shadow-darker, $boxShadow-size);
}

@mixin pagin($width: $content-width, $margin: $content-margin){
    width: $width;
    margin: $margin;
}

@mixin tabletOnly {
    @media screen and (min-width: map-get($breakpoints, tablet )) and (max-width: map-get($breakpoints, tabletMax)){
        @content;
    }
}

@mixin desktopOnly {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}