$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-terciary: #99E2D0;
$color-footer: #353535;
$backgroundColor-primary: #f6f6f6;
$backgroundColor-secondary: #eaeaea;
$color-shadow: #f2f2f2;
$color-shadow-darker: #c0c0c0;

$boxShadow-size: .55rem;

$content-width: 90%;


@mixin shadow($colour: $color-shadow, $shadow-size: $boxShadow-size){
    box-shadow: $boxShadow-size $boxShadow-size $boxShadow-size $colour;
}


@mixin btn(){
    background: linear-gradient(to bottom right, #ff76da, #9356dc);
    color: white;
    padding: 1rem;
    border: 0;
    border-radius: 25px;
    @include shadow($color-shadow-darker, $boxShadow-size);
}

