$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-terciary: #99E2D0;
$color-footer: #353535;

$backgroundColor-primary: #f6f6f6;
$backgroundColor-secondary: #eaeaea;

$color-shadow: #f2f2f2;
$color-shadow-darker: #c0c0c0;
$color-shadow-darkerMore: #a8a8a8;

$boxShadow-size: .40rem;
$boxShadow-sizeMore: .50rem;

$content-width: 90%;
$content-margin: auto;

$breakpoints: (
    tablet: 501px,
    tabletMax: 1024px,
    desktop: 1025px
);