$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-terciary: #99E2D0;
$color-footer: #353535;

$backgroundColor-primary: #f6f6f6;
$backgroundColor-secondary: #eaeaea;

$color-shadow: #f2f2f2;
$color-shadow-darker: #c0c0c0;
$color-shadow-darkerMore: #a8a8a8;

$boxShadow-size: .40rem;
$boxShadow-sizeMore: .45rem;

@mixin shadow($colour: $color-shadow, $shadow-size: $boxShadow-size){
    box-shadow: $shadow-size $shadow-size $shadow-size $colour;
}

@mixin btn(){
    background: linear-gradient(to bottom right, #ff76da, #9356dc);
    color: white;
    padding: 1rem;
    border: 0;
    border-radius: 25px;
    @include shadow($color-shadow-darker, $boxShadow-size);
}


$content-width: 90%;
$content-margin: auto;

@mixin pagin($width: $content-width, $margin: $content-margin){
    width: $width;
    margin: $margin;
}

